<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>百科后台管理-首页</title>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/bootstrap.theme.min.css}">
</head>
<body>

    <div class="row">

        <!--左侧-->
        <div class="col-md-7" style="background-color: green">
            左侧
        </div>

        <!--右侧-->
        <div class="col-md-7" style="background-color: blue">
            右侧
        </div>

        <div style="background-color: red" height="1000px">
            下
        </div>

    </div>

</body>
</html>