<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.mapper.CyContentMapper">

  <resultMap id="BaseResultMap" type="com.qing.entity.CyContent">
    <id column="cy_content_id" jdbcType="INTEGER" property="cyContentId" />
    <result column="cy_entry_name" jdbcType="VARCHAR" property="cyEntryName" />
    <result column="cy_details" jdbcType="VARCHAR" property="cyDetails" />
    <result column="cy_imgurl" jdbcType="VARCHAR" property="cyImgurl" />
    <result column="cy_type_name" jdbcType="INTEGER" property="cyTypeName" />
    <result column="cy_ispush" jdbcType="INTEGER" property="cyIspush" />
  </resultMap>

  <!--新增-->
  <insert id="saveCyContent">
     INSERT INTO cy_classify(cy_type) VALUES (#{cy_type})
  </insert>

  <!--根据类别删除-->
  <delete id="delCyContentbytype">
    DELETE  FROM cy_content WHERE cy_type=#{cy_type}
  </delete>

  <!--根据id删除-->
  <delete id="delCyContentbyid">
    DELETE  FROM cy_content WHERE cy_content_id=#{cy_content_id}
  </delete>

  <!--根据id修改-->
  <update id="updCyContentbyid">
    UPDATE cy_content SET  cy_entryname= #{cy_entryname},cy_imgurl= #{cy_imgurl},cy_type= #{cy_type} WHERE cy_content_id = #{cy_content_id}
  </update>

  <!--根据id查询-->
  <select id="queryCyContentbyid" resultMap="BaseResultMap">
    SELECT * FROM cy_content WHERE cy_content_id=#{cy_content_id} AND cy_ispush=1
  </select>

  <!--根据类别查询-->
  <select id="queryCyContentbytype" resultMap="BaseResultMap">
    SELECT * FROM  cy_content WHERE  cy_type=#{cy_type} AND cy_ispush=1
  </select>

  <!--查询所有-->
  <select id="queryall" resultMap="BaseResultMap">
    SELECT * FROM  cy_content WHERE cy_ispush=1
  </select>

  <!--查询推送内容表前八条-->
  <select id="GetEightCyContent" resultMap="BaseResultMap">
    select * from cy_content WHERE cy_ispush=1 limit 0,8
  </select>

  <!--分页查询内容表-->
  <select id="querCyClassify" resultMap="BaseResultMap">
   SELECT * FROM cy_content  WHERE cy_ispush=1 LIMIT  #{page}, #{count}
  </select>

</mapper>