<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.qing.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="is_flag" jdbcType="INTEGER" property="isFlag" />
  </resultMap>

  <!--查询用户表前八条-->
  <select id="GetEightUser">
    select * from User limit 0,8
  </select>

  <!--登陆-->
  <select id="login">
    select user_id from user where user_name=#{userName} and `password`=#{password} AND is_flag=1
  </select>

  <!--分页查询-->
  <select id="querCyClassify">
    SELECT * FROM user
    <where>
      <if test="keyword != null and keyword != ''">
        user_name LIKE '%${keyword}%' AND is_flag=1
      </if>
    </where>
    LIMIT  #{page}, #{count}
  </select>
</mapper>